/* BASIC FORMATTING */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
:root {
  --black: #000000;
  --catalina: #06327d;
  --bluetiful: #2b70e4;
  --vegan: #209d5c;
  --sunglow: #ffd034;
  --white: #ffffff;
  --light-blue: #cadbf8;
}

body {
  color: black;
  background-color: #063270;
  margin: 0;
  padding: 0;
}

